
<div id="skill-content" class="clearfix login">
    <div class="col-39 chart">
        <h1>Dashboard</h1>
        <div class="canva-parent">
            <canvas id="myChart"></canvas>
        </div>
        <div class="buttons">
            <a href="/skill/data">Manage Skill</a>
            <a href="/portfolio/data">Manage Portfolio</a>
            <a href="/experience/data">Manage Experience</a>
        </div>
    </div>
</div>

