  <!--Footer-->
  <footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <p id="copyright" class="col-3">Made with love by <a href="https://www.shapingrain.com">ShapingRain</a></p>
        <p id="recreate" class="col-3 text-center">Recreate By mbimoad</p>
        
        <!--Social Icons in Footer-->
        <ul class="col-3 social-icons">
            <li>
                <a target="_blank" title="github" href="https://www.github.com/mbimoad">
                    <i class="fa fa-github fa-1x"></i><span>Github</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="google" href="mailto:bimoadjie19@gmail.com">
                    <i class="fa fa-google fa-1x"></i><span>Google</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/mbimoad">
                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                </a>
            </li>
        </ul>
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->