.hide {
  opacity: 0;
  transition: all 500ms ease 0s;
}

.hide.show {
  opacity: 1;
}
#skill-content {
  text-align: center;
  display: flex;
  justify-content: center;
}
#skill-content .col-39 {
  margin-top: 80px;
  max-width: 900px;
  width: unset;
}

#skill-content.login {
  text-align: unset;
  align-items: center;
  justify-content: center;
  max-width: 1366px;
}
#skill-content.login .col-39 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#skill-content.login .col-39 form .form-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
#skill-content.login .col-39 form .form-group input {
  width: 300px;
  border: unset;
}
#skill-content.login .col-39 form button {
  width: 100px;
  height: 25px;
  background: #efefef;
  border: unset;
  cursor: pointer;
}
#skill-content.login .col-39.chart {
  width: unset;
}
#skill-content.login .col-39.chart div canvas {
  width: 600px;
}
#skill-content.login .col-39.chart .buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}
#skill-content.login .col-39.chart .buttons a {
  width: 150px;
  text-align: center;
  padding: 3px 5px;
  background: #efefef;
  color: black;
  border: 2px solid #333;
  font-size: 12px;
}
#skill-content.login .col-39.mytable {
  position: relative;
  padding: 40px;
  max-width: unset;
  width: unset;
}
#skill-content.login .col-39.mytable a.add {
  justify-self: flex-start;
  align-self: flex-start;
  margin-bottom: 20px;
  background: #ddd;
  color: black;
  display: inline-block;
  padding: 5px 10px;
}
#skill-content.login .col-39.mytable .pagination {
  margin-top: 20px;
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
}
#skill-content.login .col-39.mytable .pagination a {
  background: #efefef;
  color: black;
  display: inline-block;
  padding: 5px 10px;
}
#skill-content.login .col-39.mytable .pagination .page-number {
  padding: 3px 10px;
}
#skill-content.login .col-39.mytable .pagination .page-number a {
  background: #efefef;
  color: black;
  display: inline-block;
  padding: 5px 10px;
}
#skill-content.login .col-39.mytable .pagination .page-number a.active {
  background: #ccc;
  color: black;
}
#skill-content.login .col-39.mytable .tables {
  overflow: auto;
}
#skill-content.login .col-39.mytable .tables table {
  width: 900px;
  border-collapse: collapse;
}
#skill-content.login .col-39.mytable .tables table tr th, #skill-content.login .col-39.mytable .tables table tr td {
  padding: 10px;
  border: 2px solid #333;
}
#skill-content.login .col-39.mytable .tables table tr th a, #skill-content.login .col-39.mytable .tables table tr td a {
  border: 1px solid black;
  color: black;
  background: #333;
  padding: 3px 5px;
  border-radius: 5px;
}
#skill-content.login .col-39.mytable .tables table tr th a:first-child, #skill-content.login .col-39.mytable .tables table tr td a:first-child {
  background: lightgreen;
  margin-bottom: 5px;
  display: inline-block;
}
#skill-content.login .col-39.mytable .tables table tr th a:last-child, #skill-content.login .col-39.mytable .tables table tr td button.delete {
  background: rgb(255, 151, 151);
  height: 30px;
  width: 67px;
  border: 1px solid;
  border-radius: 5px;
}

#wrapper #banner-content .images {
  display: none;
  width: 150px;
  height: 150px;
  margin: 30px auto 0;
  border-radius: 50%;
  background: url("../images/banner-images/1.jpg");
  background-size: cover;
  background-position: -190px;
  background-size: 350px;
}

@media screen and (max-width: 1019px) {
  #skill-content.login .col-39.mytable .tables {
    width: 700px;
  }
}
@media screen and (max-width: 820px) {
  #skill-content.login .col-39.mytable .tables {
    width: 500px;
  }
}
@media screen and (max-width: 620px) {
  #skill-content.login .col-39.mytable .tables {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  #wrapper #banner-content .images {
    display: block;
    width: 150px;
    height: 150px;
    margin: 30px auto 0;
    border-radius: 50%;
    background: url("../images/banner-images/1.jpg");
    background-size: cover;
    background-position: -190px;
    background-size: 350px;
  }
}
#wrapper #banner #logo #logo-link {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.buttons {
  width: 90%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  flex-wrap: wrap;
}
.buttons select {
  display: none;
}
.buttons button {
  border: unset;
  padding: 7px 20px;
  box-shadow: 0px 2px 2px #777;
  cursor: pointer;
}
.buttons button:hover {
  background: #333;
  color: white;
}

@media screen and (max-width: 850px) {
  .buttons button {
    display: none;
  }
  .buttons select {
    display: flex;
    width: 50%;
    border: unset;
    background: #efefef;
  }
}
header {
  padding-bottom: 50px;
}

.experience-cards {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-cards .boxs {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-left: 2px solid #999;
  padding-left: 40px;
  position: relative;
}
.experience-cards .box::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #999;
  position: absolute;
  left: -46px;
  border-radius: 50%;
}
.experience-cards .box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: #efefef;
}
.experience-cards .box-detail {
  gap: 3px;
  display: flex;
  flex-direction: column;
}
.experience-cards .box-detail .title {
  font-size: 20px;
  font-weight: bold;
}
.experience-cards .box-detail .country {
  font-size: 12px;
  background-color: #999;
  color: white;
  justify-self: flex-start;
  align-self: flex-start;
  padding: 3px 15px 3px 7px;
  border-radius: 0 50px 50px 0;
}
.experience-cards .box-detail .years {
  font-size: 12px;
}
.experience-cards .box span {
  font-size: 12px;
}

.skill-cards {
  max-width: 1366px;
  margin: auto;
  display: flex;
  row-gap: 40px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.skill-cards .box:hover {
  background: #777;
  color: white;
}
.skill-cards .box:hover i, .skill-cards .box:hover svg {
  background: #333;
}
.skill-cards .box {
  transition: all 200ms ease 0s;
  padding: 10px;
  box-shadow: 0px 5px 5px #bcbcbc;
  display: flex;
  width: 300px;
  gap: 10px;
}
.skill-cards .box i, .skill-cards .box svg {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border-radius: 50%;
  background: #ddd;
}
.skill-cards .box-detail {
  display: flex;
  flex-direction: column;
}
.skill-cards .box-detail .title {
  font-size: 20px;
}
.skill-cards .box-detail .descrip {
  font-size: 13px;
}

.swiper {
  padding: 20px;
  max-width: 1366px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-slide:hover .detail {
  opacity: 0;
}
.swiper .swiper-slide:hover img {
  transform: scale(1.1) rotate(2deg);
}
.swiper .swiper-slide {
  overflow: hidden;
  box-shadow: 0 3px 5px #777;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper .swiper-slide .detail {
  transition: all 200ms ease 0s;
  color: #000;
  background: rgba(255, 255, 255, 0.7254901961);
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  height: 100%;
  width:100%;
}
.swiper .swiper-slide .detail p {
  font-size: 13px;
}
.swiper .swiper-slide .detail i, .swiper .swiper-slide .detail svg {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  background: #333;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid white;
}
.swiper .swiper-slide .detail .title {
  font-size: 20px;
  font-weight: bold;
}
.swiper .swiper-slide .detail .category {
  font-size: 12px;
  background: #fbfbfb;
}
@media screen and (max-width: 910px) {
  #banner #banner-content h1 {
    font-size: 40px;
  }
  #banner #banner-content h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1045px) {
  .skill-cards {
    justify-content: center;
  }
}
@media screen and (max-width: 715px) {
  .skill-cards .box {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .swiper .swiper-slide .detail i, .swiper .swiper-slide .detail svg {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }
  .swiper .swiper-slide .detail .title {
    font-size: 18px;
  }
  .swiper .swiper-slide .detail .category {
    font-size: 12px;
  }
  .swiper .swiper-slide .detail p {
    font-size: 12px;
  }
}
@media screen and (max-width: 560px) {
  .swiper .swiper-slide .detail {
    padding: 10px;
  }
  .swiper .swiper-slide .detail i, .swiper .swiper-slide .detail svg {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    font-size: 10px;
  }
  .swiper .swiper-slide .detail .title {
    font-size: 18px;
  }
  .swiper .swiper-slide .detail .category {
    font-size: 12px;
  }
  .swiper .swiper-slide .detail p {
    font-size: 12px;
  }
}
@media screen and (max-width: 685px) {
  #skill-content.login .col-39.chart div.canva-parent {
    width: 400px;
  }
  #skill-content.login .col-39.chart div.buttons {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #skill-content.login .col-39.chart div.canva-parent {
    width: 400px;
  }
  #skill-content.login .col-39.chart div.buttons a {
    width: 120px;
    font-size: 10px;
  }
}/*# sourceMappingURL=user.css.map */